form {
    text-align: center;
    color: darkgoldenrod;
    font-size: 22px;
    display: block;


}

div {
    text-align: center;
    color: darkgoldenrod;
    font-size: 22px;
    display: block;
}

p {
    text-align: center;
    color: darkgoldenrod;
    font-size: 22px;
    display: block;
}

a {
    text-align: center;
    color: darkgoldenrod;
    font-size: 22px;
    display: block;
}

a2 {
    text-align: center;
    color: darkgoldenrod;
    font-size: 22px;
    display: block;
}