<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>

<p th:text="'id :' + ${book.id}">VALUE</p>
<p th:text="'name :' + ${book.name}">VALUE</p>
<p th:text="'author :' + ${book.author}">VALUE</p>
<p th:text="'yearOfWriting :' + ${book.yearOfWriting}">VALUE</p>


IF THIS BOOK FREE
VIBERITE KOMU NAZNACCHIT


<a th:href="@{/books/{id}/edit(id=${book.id})}">Edit</a>


<form th:method="DELETE" th:action="@{/books/{id}(id=${book.id})}">
    <input type="submit" value="Delete"/>

</form>


</body>
</html>