<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Book</title>
    <link rel="stylesheet" href="style.css">
    <link th:href="@{/styles/css/main.css}" rel="stylesheet"/>

</head>

<body>

<p th:text="'Номер : ' + ${book.id}">VALUE</p>
<p th:text="'Название : ' + ${book.name}">VALUE</p>
<p th:text="'Автор : ' + ${book.author}">VALUE</p>
<p th:text="'Год выпуска : ' + ${book.yearOfWriting}">VALUE</p>

<br/>
<br/>

<div th:if="${book.person_id == 0}">Эта книга находится в библиотеке
    <form th:method="PATCH" th:action="@{/books/{id}/addPerson(id=${book.id})}">

        <label for="person">Выберите читателя : </label>
        <select th:object="${person}" th:field="*{id}" id="person">
            <option th:each="person : ${people}" th:value="${person.id}" th:text="${person.fullName}"></option>
        </select>
        <input type="submit" value="Выбрать читателя"/>

    </form>
</div>


<div th:unless="${book.person_id == 0}">
    <p th:text="'Book now at :' + ${book.person_id}">VALUE</p>

    <form th:method="POST" th:action="@{/books/{id}(id=${book.id})}">
        <input type="submit" value="FREE THE BOOK"/>
    </form>
</div>


<br/>
<br/>


<form th:action="@{/books/{id}/edit(id=${book.id})}">
    <input type="submit" value="Редактировать"/>
</form>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.id})}">
    <input type="submit" value="Удалить книгу"/>

</form>


</body>

</html>