<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<p th:text="'id :' + ${person.id}">VALUE</p>
<p th:text="'fullName :' + ${person.fullName}">VALUE</p>
<p th:text="'yearOfBirth :' + ${person.yearOfBirth}">VALUE</p>


<a th:href="@{/people/{id}/edit(id=${person.id})}">Edit</a>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete"/>

</form>

BO ONE BOOK!!
<!--BO ONE BOOK!! -->

</body>
</html>