<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Список читателей</title>
    <link rel="stylesheet" href="style.css">
    <link th:href="@{/styles/css/main.css}" rel="stylesheet"/>

</head>

<body>
<p>Список читателей: </p>


<div th:each="person : ${people}">

    <a th:href="@{/people/{id}(id=${person.id})}"
       th:text="${person.fullName + ', ' + person.yearOfBirth}">person</a>
</div>

<br/>

<form action="/people/new"><input type="submit" value="Добавить нового читателя"/>
</form>


</body>

</html>